<p id="notice"><%= notice %></p>

<h1>Cantantes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="4" style=" width: 20%"></th>
    </tr>
  </thead>

  <tbody>
    <% @singers.each do |singer| %>
      <tr>
        <td><%= singer.name %></td>
        <td><%= singer.description %></td>
        <td><%= link_to icon('far', 'eye', class: 'strong'), singer, class: "btn btn-primary" %></td>
        <td><%= link_to icon('far', 'edit', class: 'strong'), edit_singer_path(singer), class: "btn btn-success" %></td>
        <td><%= link_to icon('far', 'trash-alt', class: 'strong'), singer, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger" %></td>
        <td><%= link_to icon('fas', 'compact-disc', class: 'strong'), disks_path(id: singer.id), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to icon('fas', 'arrow-left') + ' Atras', root_path,  class: "btn btn-info" %>
<%= link_to  icon('fas', 'plus') + ' Nuevo cantante', new_singer_path,  class: "btn btn-info" %>
